name: Pylint

on:
  workflow_dispatch:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - name: Set up Python
      uses: actions/setup-python@main
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install nbqa pylint
    - name: Analysing the Python code with Pylint
      run: |
        pylint *.ipynb
    - name: Analysing the Jupyter Notebook code with Pylint
      run: |
        nbqa pylint *.ipynb
